<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <configuration>
	<typeAliases>
	    <typeAliase alias="amount" type="org.pay.domain.AmountVO"/>
	    <typeAliase alias="card" type="org.pay.domain.CardVO"/>
	</typeAliases>
</configuration>
 -->

<mapper namespace="org.zerock.mapper.OrderMapper">

	<!-- <insert id="AddOrder">
		insert into spayment(vihicleId, airlineNm, depAirportNm, depPlandTime, 
				arrAirportNm, arrPlandTime, economyCharge, prestigeCharge, 
				aid, tid, partner_user_id, payment_method_type, 
				amount_total, amount_vat, card_purchase_corp, card_install_month, 
				item_name, item_code, quantity, created_at, approved_at)
		values (#{vihicleId}, #{airlineNm}, #{depAirportNm}, #{depPlandTime}, 
				#{arrAirportNm}, #{arrPlandTime}, #{economyCharge}, #{prestigeCharge}, 
				#{aid}, #{tid}, #{partner_user_id}, #{payment_method_type}, 
				#{amount_total}, #{amount_vat}, #{card_purchase_corp}, #{card_install_month}, 
				#{item_name}, #{item_code}, #{quantity}, #{created_at}, #{approved_at})
	</insert> -->
	<insert id="AddOrder">
		insert into spayment(vihicleId, airlineNm, depAirportNm, depPlandTime, 
				arrAirportNm, arrPlandTime, economyCharge, prestigeCharge, tid)
		values (#{vihicleId}, #{airlineNm}, #{depAirportNm}, #{depPlandTime}, 
				#{arrAirportNm}, #{arrPlandTime}, #{economyCharge}, #{prestigeCharge}, #{tid})
	</insert>
	<update id="AddOrderApproval" parameterType="org.pay.domain.KakaoPayApprovalVO">
		update spayment set
			aid = #{aid}, 
			partner_user_id = #{partner_user_id}, 
			payment_method_type = #{payment_method_type}, 
			amount_total = #{amount.total}, 
			amount_vat = #{amount.vat}, 
			card_purchase_corp = #{card_info.purchase_corp}, 
			card_install_month = #{card_info.install_month}, 
			item_name = #{item_name}, 
			item_code = #{item_code}, 
			quantity = #{quantity}, 
			created_at = #{created_at}, 
			approved_at = #{approved_at}
		where tid = #{tid}
	</update>
	
	<insert id="WishInsert">
		insert into swish(id, vihicleId, airlineNm, depAirportNm, depPlandTime, 
				arrAirportNm, arrPlandTime, economyCharge, prestigeCharge)
		values (#{id}, #{vihicleId}, #{airlineNm}, #{depAirportNm}, #{depPlandTime}, 
				#{arrAirportNm}, #{arrPlandTime}, #{economyCharge}, #{prestigeCharge})
	</insert>
	
	<select id="WishList" parameterType="String" resultType="org.pay.domain.OrderVO">
		select * from swish where id = #{uid}
	</select>
	
</mapper>